#footer {
    font-family: var(--mainEng-font);
}

.footer__inner {
    padding: 2rem;
    margin-top:200px;
    background-color: #B5BBAF;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    .footer__info {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        @media (max-width: 800px) {
            flex-direction: column;
        }

        .left {
            width:calc(50% - 10px);

            @media (max-width: 800px) {
                width: 100%;
            }

            .title {
                padding: 20px 0;
                text-transform: uppercase;
                font-weight: 500;
                transition: all 0.3s;
                font-size: 2rem;
            }

            .left__wrap {
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                text-transform: uppercase;
            }
        }

        .right {
            width: calc(50% - 10px);

            @media (max-width: 800px) {
                width: 100%;
                margin-top: 50px;
            }

            .title {
                padding: 20px 0;
                text-transform: uppercase;
                font-weight: 500;
                transition: all 0.3s;
                font-size: 2rem;
            }

            ul {
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                li {
                    a {
                        font-size: 14px;
                        display: inline-block;
                        text-transform: uppercase;
                    }

                    em {
                        font-size: 12px;
                        padding-left: 10px;
                        opacity: 0;
                        transition: all 0.3s;
                    }

                    &:hover {
                        em {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        
    }
    .footer__right {
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 40px;
    }
}