#header {
    @include position-fixed;
    z-index: 10000;
    padding:1rem;
    
}

.header__inner{
    @include flex-between;
    background-color: rgba(116,99,99,0.1);
    backdrop-filter: blur(15px);
    padding:2rem 1rem;
    border-radius: 10px;

    .header__logo{
        font-size: 1rem;
        display: block;
        color: var(--black);
    }
}

.header__nav{
    @media (max-width: 800px) {
        display: none;

        &.show {
            display: block;

            ul {
                display: block;
                position: absolute;
                right: 0;
                top:100px;
                width:50%;
                min-width: 150px;
                height:100vh;
                padding:20px 0;
                border-radius: 10px;
                background-color: rgba(77, 64, 64, 0.1);
                -webkit-backdrop-filter: blur(15px);
                backdrop-filter: blur(15px);
                z-index: 10000;

                li {
                    display: block;
                    text-align: left;

                    a {
                        display: inline-block;
                        padding: 1rem;
                        font-size: 3rem;
                        font-weight: 300;
                        text-transform: inherit;
                    }
                }
            }
        }

        &.show + .header__nav__mobile span::before {
            width: 20px;
        }

        &.show + .header__nav__mobile span::after {
            width: 20px;
        }
    }

    li {
        display: inline;

        a {
            position: relative;
            text-transform: uppercase;
            font-size: 0.9rem;
            padding: 14px;
            font-weight: 400;

            &::before {
                position: absolute;
                content: '';
                width: calc(100% - 28px);
                height: 1px;
                background-color: var(--black);
                left: 14px;
                bottom: 10px;
                transform: scaleX(0);
                transition: all 0.3s;
            }

            &:hover::before{
                transform: scale(1);
            }
        }
    }
}

.header__nav__mobile{
    display: none;
    width:40px;
    height:40px;
    cursor:pointer;

    @media(max-width:800px) {
        display: block;
    }

    span {
        position: relative;
        display: block;
        width: 40px;
        height: 2px;
        background-color: var(--black);
        margin-top: 19px;

        &::before {
            position: absolute;
            content: '';
            width: 40px;
            height: 2px;
            background-color: var(--black);
            right: 0;
            top: 6px;
            transition: all 0.3s;
        }

        &::after {
            content: '';
            width: 40px;
            height: 2px;
            background-color: var(--black);
            position: absolute;
            left: 0;
            bottom: 6px;
            transition: all 0.3s;
        }
    }
}