#port {
    width: 100%;
    margin-top: 30vh;
    // overflow:hidden;
}

.port__inner {
    padding: var(--layout-horizontal-padding); 
    display: flex;

    @media (max-width: 768px) {
        display: block;
    }

    .port__title {
        width: 100%;
        margin-bottom: 10px;
        font-size: clamp(20px, 4vw, 30px);
        font-weight: 500;
        line-height: 1.6;
        font-family: var(--mainEng-font);
        text-transform: inherit;
        color: var(--black);
        text-indent: -0.26vw;
    }

    .port__wrap {
        width: 180vw;
        display: grid;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        grid-template-rows: auto;
        overflow: hidden;

        @media (max-width: 768px) {
            width: 100%;
        }
        

        .port__item {
            position: relative;
            padding-top: 20px;
            border-top: 1px solid #1b1b1b;
            overflow: hidden;

            &.p1 {

            }

            &.p2 {
                
            }

            &.p3 {
                
                
            }

            .num {
                font-size: 3rem;
                font-family: var(--subEng-font);
                display: none;
            }

            .img {
                
                
                img {
                    width:155%;
                    margin-left:-27%;
                    vertical-align: middle;
                    filter: saturate(0);
                    transition: all 0.3s;
                }

                &:hover {

                    img {
                        filter: saturate(100%);
                    }
                }
            }


            .title {
                margin-bottom: 1rem;
                padding: 0.8rem 0;
                font-family: 'SUIT Variable', sans-serif;
                font-size: 1rem;
                color: var(--black100);
                text-align: justify;
                font-weight: 700;
                line-height: 1.5;
                
                @media (max-width: 800px) {
                    font-size: 14px;
                }
            }

            .desc {
                position: absolute;
                top:30px;
                left:10px;
                padding:0.5rem 0.8rem;
                color:var(--white);
                font-size: 0.7rem;
                font-weight: 500;
                font-family: var(--subEng2-font);
                background-color: rgba(0,0,0,0.2);
                backdrop-filter: blur(2px);
            }

            .site {
                border: 1px solid var(--black100);
                display: block;
                text-align: center;
                padding: 0.625rem 1.5rem;
                margin-top: 1.5rem;
                transition: all 0.2s;
                border-radius: 5px;
                display: none;

                &:hover {
                    background-color: var(--black100);
                    color: var(--white);
                    font-weight: 600;
                }
            }
        }
    }
}