#port {
    width: 100%;
    margin-top: 30vh;
    // overflow:hidden;
}

.port__inner {
    padding: 16px; 


    .port__title {
        width: 100%;
        height: 5vw; 
        font-size: 4vw;
        font-weight: 600;
        line-height: 1.6;
        font-family: var(--mainEng-font);
        text-transform: uppercase;
        color: var(--black);
        margin-bottom: 16px;
        text-indent: -0.26vw;
    }

    .port__wrap {
        display: grid;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        overflow: hidden;

        @media (max-width: 800px) {
            grid-template-columns: 1fr;
        }
        

        .port__item {
            position: relative;
            border-radius: 1.5rem;
            overflow: hidden;

            &.p1 {
                .img {
                    
                }
            }

            &.p2 {
                
                .desc {
                    color:var(--white);
                }
            }

            &.p3 {
                
                
            }

            .num {
                font-size: 3rem;
                font-family: var(--subEng-font);
                display: none;
            }

            .img {
                
                
                img {
                    width:160%;
                    margin-left:-25%;
                    vertical-align: middle;
                }

                &:hover {

                    img {
                        filter: saturate(100%);
                    }
                }
            }


            .title {
                font-size: 1.5rem;
                text-align: center;
                padding: 0.8rem 0;
                font-weight: 700;
                color: var(--black100);
                border-bottom: 2px solid var(--black100);
                margin-bottom: 1rem;
                display: none;
            }

            .desc {
                position: absolute;
                bottom:0;
                padding:1rem;
                font-size: 1.5rem;
                font-weight: 500;
                font-family: var(--mainEng-font);
            }

            .site {
                border: 1px solid var(--black100);
                display: block;
                text-align: center;
                padding: 0.625rem 1.5rem;
                margin-top: 1.5rem;
                transition: all 0.2s;
                border-radius: 5px;
                display: none;

                &:hover {
                    background-color: var(--black100);
                    color: var(--white);
                    font-weight: 600;
                }
            }
        }
    }
}