@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css');


.archivo {
    font-family: "Archivo";
    unicode-range: U+0000-00FF;
}

.hedvig {
    font-family: "Hedvig Letters Serif";
    unicode-range: U+0000-00FF;
}

.victor {
    font-family: "Victor Mono";
    unicode-range: U+0000-00FF;
}

.kr {
    font-family: "Noto Sans KR";
}

